@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed&display=swap');

* {
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Saira Condensed', sans-serif;
    background-color: #0F0F0F;
    scroll-behavior: smooth;
    transition: 0.3s ease;
    scroll-padding-top: 2rem;
}

body {
    font-size: 100%;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0F0F0F;
    z-index: 999
}



.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item {
    float: right;
    font-family: 'Saira Condensed', sans-serif;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 25px;
}

.cabecalho-menu-item:hover {
    border: none;
    box-shadow: 4px 5px 5px 4px #00AD6F;
}

.conteudo {
    margin-top: 80px;
    margin-bottom: 10px;
    border-top: 3px solid #FFFFFF;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;


}

.conteudo-principal-escrito-titulo {
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 400;
    font-size: 64px;
    color: #FFFFFF;
    ;
}

.conteudo-principal-escrito-subtitulo {
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 200;
    font-size: 24px;
    color: #00AD6F;
}

.conteudo-principal-imagem {
    width: 50px;
    height: 50px;
}

.conteudo-principal-imagem:hover {
    border: none;
    box-shadow: 1px 3px 4px 2px #00AD6F;
}

.conteudo-principal-paragrafo {
    display: flex;
    justify-content: flex-start;
}

.conteudo-secundario {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
    justify-content: space-around;
    border-top: 3px solid #FFFFFF;
}

.conteudo-secundario-escrito {
    padding-top: 48px;
}

.conteudo-secundario-titulo {
    color: #00AD6F;
    padding-left: 50px;
    font-size: 40px;
}

.conteudo-secundario-paragrafo {
    font-weight: 400;
    font-size: 20px;
    justify-content: space-around;
    padding-left: 50px;

}

.conteudo-secundario-imagem {
    margin-top: 48px;
    width: 450px;
    height: 320px;
    justify-content: space-around;
    padding-left: 50px;
}

.habilidades {
    display: flex;
    align-items: center;
    border-top: 3px solid #FFFFFF;
    margin-top: 50px;
    justify-content: space-around;
    /* adicionado */
}

.habilidades-titulo {
    padding-top: 50px;
    font-size: 40px;
    color: #00AD6F;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.habilidades-subtitulo {
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 200;
    font-size: 24px;
    color: #00AD6F;
    padding-left: 50px;
    padding-top: 30px;
}

.habilidades-paragrafo {
    font-weight: 400;
    font-size: 20px;
    justify-content: space-around;
    padding-left: 50px;
}

.habilidades-imagem {
    margin-top: 48px;
    width: 450px;
    height: 320px;
    justify-content: space-around;
    padding-left: 50px;
}

.certificacoes {
    display: flex;
    align-items: center;
    border-top: 3px solid #FFFFFF;
    margin-top: 50px;
    justify-content: space-around;
}

.certificacoes-escrito {
    font-size: 20px;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    color: dimgrey;
    display: flex;
    box-sizing: border-box;
}


.certificacoes-titulo {
    padding-top: 50px;
    font-size: 40px;
    color: #00AD6F;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.certificacoes-subtitulo {
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 200;
    font-size: 24px;
    color: #00AD6F;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.certificacoes-paragrafo {
    font-size: 20px;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    color: dimgrey;
    display: flex;
    box-sizing: border-box;
}

.rodape {
    justify-content: space-around;
    border-top: #FFFFFF 3px solid;
    margin-bottom: 20px;
}

.rodape-texto {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: 400;
    font-size: 20px;
}

@media only screen and (max-width: 600px) {

    * {
        margin: 0;
        padding: 5px;
        box-sizing: border-box;
        text-decoration: none;
        font-family: 'Saira Condensed', sans-serif;
        background-color: #000000;
        scroll-behavior: smooth;
        transition: 0.3s ease;
        scroll-padding-top: 2rem;
    }

    .cabecalho-menu {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 5px;
    }
  
    .cabecalho-menu-item {
      font-size: 12px;
    }
  
    .conteudo-principal {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
    }
  
    .conteudo-principal-escrito-titulo {
      font-size: 36px;
      text-align: center;
    }
  
    .conteudo-principal-escrito-subtitulo {
      font-size: 16px;
      text-align: center;
    }
  
    .conteudo-principal-imagem {
      width: 40px;
      height: 40px;
    }
  
    .conteudo-secundario {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 80px;
    }
  
    .conteudo-secundario-titulo {
      font-size: 32px;
      text-align: center;
      padding-left: 0px;
    }
  
    .conteudo-secundario-paragrafo {
      font-size: 16px;
      text-align: center;
      padding-left: 0px;
    }
  
    .conteudo-secundario-imagem {
      margin-top: 40px;
      width: 200px;
      height: 180px;
      padding-left: 0px;
    }
  
    .habilidades {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 80px;
    }
  
    .habilidades-titulo {
      font-size: 32px;
      text-align: center;
      padding-top: 30px;
    }
  
    .habilidades-subtitulo {
      font-size: 16px;
      text-align: center;
      padding-left: 0px;
      padding-top: 20px;
    }
  
    .habilidades-paragrafo {
      font-size: 16px;
      text-align: center;
      padding-left: 0px;
    }
  
    .habilidades-imagem {
      margin-top: 40px;
      width: 300px;
      height: 220px;
      padding-left: 0px;
    }
  
    .certificacoes {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 80px;
    }
  
    .certificacoes-titulo {
      font-size: 32px;
      text-align: center;
      padding-top: 30px;
    }
  
    .certificacoes-subtitulo {
      font-size: 16px;
      text-align: center;
      padding-left: 0px;
      padding-top: 20px;
    }
  
    .certificacoes-escrito {
      font-size: 16px;
      text-align: center;
      padding-left: 0px;
    }

    .rodape-texto{
        font-size: 15px;
    }
  
  }